h2 About

p
| I craft websites and available for any freelance gig. 
| I believe in striving for the best I could. 
| One of my life goals is to create a happy and balanced lifestyle, and extend it to the people I love and care the most. 
| I am learning web programming and in search of an available mentor. 
| If you open to teach and learn programming (especially in JavaScript or Ruby), I would do anything to be your apprentice. Please drop me a hint on how to reach you.
| I have a degree in Actuarial Science from Pennsylvania State University, State College. My first job out of college was as Industrial Analyst at Sime Darby. I used to work with 2 local startups as Customer Support Specialist at JomSocial and Online Marketer at Stackideas. 
| I also run a company at tsuwave.com.
