p 
| I'm a practicing Front-End Designer and aspiring JavaScript Developer.  
| I strive for maximizing potential and value learning by doing.
| I love to experiment and travel.
| Web is definitely one of my lifetime passion.

ul
  li Shopify Expert
  li WordPress Themer
  li Lifestyle Striver
  li Lifetime Traveler